
nav {
    padding: 10px;
    border-radius: 5px;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 20px;
}
nav ul li {
    display: inline;
    margin-right: 20px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    background-color: navy;
    border-radius: 3px ;
    padding: 10px 20px;
    transition: background-color 0.3s, color 0.3s, font-size 0.3s;
}
nav ul li a:hover {
    text-decoration: none;
    color: black;
    font-size: 20px;
    background-color: rgb(255, 255, 0);
}

