body {
    background-color: rgb(164, 217, 241);
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
}
nav {
    padding: 10px;
    border-radius: 5px;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 20px;
}
nav ul li {
    display: inline;
    margin-right: 20px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    background-color: navy;
    border-radius: 3px ;
    padding: 10px 20px;
    transition: background-color 0.3s, color 0.3s, font-size 0.3s;
}
nav ul li a:hover {
    text-decoration: none;
    color: black;
    font-size: 20px;
    background-color: rgb(255, 255, 0);
}

h1 {
    font-size: 2em;
    text-align: center;
}
a {
    color: rgb(255, 0, 0);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color: black;
    font-size: 20px;
}
div {
    background-color: rgb(255, 0, 140);
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    width: 300px;
    display: inline-block;
}
#tabla {
    border-collapse: collapse;
    width: 50%;
    background-color: blueviolet;
}
th{
    background-color: blue;
    color: aliceblue;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}
.parrafo{
    background-color: rgb(255, 255, 0);
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    width: 300px;
    display: inline-block;
}